
@{
    ViewBag.Title = "Emergencia";
}
<div class="container-fluid">
    <!-- Map -->
    <section class="page-section-no-padding">
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-md-12 padding-0 map-page-header">
                    <div id="map" class="img-responsive map-style"></div>
                </div>
            </div>
        </div>
    </section>




    <!-- CONTAKT US-->
    <section class="page-section">
        <div class="container">
            <div class="row ">

                <div class="col-md-8">
                    <h2 class="title-section"><span class="title-regular">Contato</span><br /></h2>
                    <hr class="title-underline " />
                    <p>
                        Deixe sua mensagem em breve entraremos em contato.
                    </p>
                    <div class="form-group">
                        <input type="text" class="form-control" id="usr" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="message" placeholder="Menssagem"></textarea>
                    </div>
                    <button type="button" class="btn btn-info">Enviar <i class="fa fa-envelope"></i></button>
                </div>
                <div class="col-md-4 py-4">
                    <h3>Mais Informações</h3>
                    <p>
                        O residencial Palmeiras conta com uma ótima equipe de administração, pronta para atender qualquer
                        eventual problema de forma correta e justa.
                    </p>
                    <p>
                        <strong>Endereço:</strong>
                        <br /> QI 416, Lts 01/16
                        <br />Samambaia Brasília-DF
                        <br />CEP 72320-300
                    </p>
                    <p><strong>Telefone:</strong>(61) 3548-8722</p>
                    <p><strong>sindico@residencialdaspalmeiras.com.br</strong></p>
                </div>
            </div>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15352.047860861421!2d-48.065470899999994!3d-15.85596845!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd8ffd9315ae49672!2sCondom%C3%ADnio+Residencial+das+Palmeiras!5e0!3m2!1spt-BR!2sbr!4v1557617873561!5m2!1spt-BR!2sbr"
                    width="1050" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

    </section>


</div>
